<!DOCTYPE html>
<html lang="en-us" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>SuperCars - About Us</title>
    <meta charset="utf-8">
    <meta name="keywords" content="SuperCars">
    <meta name="description" content="SuperCars">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- FavIcon Link -->
    <link rel="icon" href="/supercars/assets/images/favicon.png" type="image/gif" sizes="16x16">

    <!-- Google Fonts -->
    <link href="../../../css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oxanium:wght@200;300;400;500;600;700;800&display=swap"
          rel="stylesheet">

    <!-- Bootstrap CSS Link -->
    <link rel="stylesheet" type="text/css" href="/supercars/assets/css/bootstrap.min.css">

    <!-- Datepicker CSS Link -->
    <link rel="stylesheet" type="text/css" href="/supercars/assets/css/bootstrap-datepicker.min.css">

    <!-- Swiper Slider CSS Link -->
    <link rel="stylesheet" type="text/css" href="/supercars/assets/css/swiper-bundle.min.css">

    <!-- Fancybox CSS Link -->
    <link rel="stylesheet" type="text/css" href="/supercars/assets/css/jquery.fancybox.min.css">

    <!-- Wow Animation CSS Link -->
    <link rel="stylesheet" type="text/css" href="/supercars/assets/css/animate.css">

    <!-- Main Style CSS Link -->
    <link rel="stylesheet" type="text/css" href="/supercars/assets/css/style.css">

</head>
<body class="fixed">
<div class="main">

    <!-- Loader Start -->
    <div class="loader-box">
        <div class="loader">
            <img src="/supercars/assets/images/loader.gif" width="300" height="300" alt="Car">
        </div>
    </div>
    <!-- Loader End -->

    <!-- Header Start -->
    <header class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="site-brnading">
                        <a href="index.html" title="SuperCars">
                            <img src="/supercars/assets/images/logo-white.png" width="188" height="60" alt="SuperCars">
                            <img src="/supercars/assets/images/logo.png" class="sticky" width="188" height="60"
                                 alt="SuperCars">
                        </a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="header-menu">
                        <nav class="main-navigation">
                            <button class="toggle-button"><span></span></button>
                            <div class="mobile-menu-box">
                                <i class="menu-background top"></i>
                                <i class="menu-background middle"></i>
                                <i class="menu-background bottom"></i>
                                <ul>
                                    <li><a href="index.html" title="Home">Home</a></li>
                                    <li class="active"><a href="about-us.html" title="About Us">About Us</a></li>
                                    <li class="sub-items">
                                        <a href="javascript:void(0);" title="Cars">Cars</a>
                                        <ul class="sub-menu">
                                            <li><a href="cars.html" title="Car List">Car List</a></li>
                                            <li><a href="car-detail.html" title="Car Detail">Car Detail</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="contact.html" title="Contact">Contact</a></li>
                                </ul>
                                <div class="header-search-login">
                                    <div class="header-search">
                                        <a href="javascript:void(0);" data-bs-toggle="modal"
                                           data-bs-target="#search_car" title="Search"><i class="fas fa-search"></i></a>
                                    </div>
                                    <div class="header-login">
                                        <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#login"
                                           title="Login"><i class="far fa-user"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="for-mob">
                                <div class="header-search">
                                    <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#search_car"
                                       title="Search"><i class="fas fa-search"></i></a>
                                </div>
                                <div class="header-login">
                                    <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#login"
                                       title="Login"><i class="fas fa-user"></i></a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Banner Start -->
    <section class="main-banner inner-banner back-img"
             style="background-image: url('/supercars/assets/images/about-banner.jpeg');">
        <span class="shape"><img src="/supercars/assets/images/inner-banner-shape.svg" alt="shape"></span>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="banner-content">
                        <h1 class="h1-title wow fadeup-animation" data-wow-duration="0.8s">About Us</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-breadcrumb">
            <div class="breadcrumb-box wow fadeup-animation" data-wow-duration="0.8s" data-wow-delay="0.2s">
                <p><a href="index.html" title="Home">Home</a></p>
                <span><i class="fas fa-angle-double-right"></i></span>
                <p>About Us</p>
            </div>
        </div>
    </section>
    <!-- Banner End -->

    <!-- About Us Start -->
    <section class="main-about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-lg-1 order-2">
                    <div class="about-content wow right-animation" data-wow-duration="0.8s" data-wow-delay="0.2s">
                        <div class="title left">
                            <h2 class="h2-title">Welcome To <span>SuperCars</span></h2>
                            <span class="title-line"></span>
                        </div>
                        <div>
                            <p th:text="${car.name}"></p>
                            <p th:text="${car.model}"></p>
                            <p th:text="${car.productionYear}"></p>
                            <p th:text="${car.pricePerHour}"></p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 order-lg-2 order-1">
                    <div class="about-img-box">
                        <div class="about-img back-img wow left-animation" data-wow-duration="0.8s"
                             data-wow-delay="0.2s"
                             style="background-image: url('/supercars/assets/images/about-us-img.jpg');"></div>
                        <img src="/supercars/assets/images/about-car1.png" width="570" height="534"
                             class="wow fadeup-animation" data-wow-duration="0.8s" data-wow-delay="0.3s"
                             alt="About Car">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <form action="/order/add" method="post">
        <input type="date" name="orderStart">
        <input type="date" name="orderEnd">
        <input type="hidden" name="carId" th:value="${car.id}">
        <input type="submit" value="Book Now">
    </form>
    <!-- About Us End -->

    <!-- Our Vision & Mission Start -->
    <section class="main-vision-mission bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title wow fadeup-animation" data-wow-duration="0.8s" data-wow-delay="0.2s">
                        <h2 class="h2-title">Our Awesome <span>Goal's</span></h2>
                        <span class="title-line"></span>
                    </div>
                </div>
            </div>
            <div class="vision-mission-list">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="how-works-box wow fadeup-animation" data-wow-duration="0.8s" data-wow-delay="0.3s">
                            <span class="icon"><img src="/supercars/assets/images/vision-icon.svg" width="60"
                                                    height="53" alt="Our Vision"></span>
                            <h3 class="h3-title">Our Vision</h3>
                            <p>On the other hand, we denounce with righteous indignation and dislike men who are so
                                beguiled.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="how-works-box wow fadeup-animation" data-wow-duration="0.8s" data-wow-delay="0.4s">
                            <span class="icon"><img src="/supercars/assets/images/mission-icon.svg" width="60"
                                                    height="60" alt="Our Mission"></span>
                            <h3 class="h3-title">Our Mission</h3>
                            <p>On the other hand, we denounce with righteous indignation and dislike men who are so
                                beguiled.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="how-works-box wow fadeup-animation" data-wow-duration="0.8s" data-wow-delay="0.5s">
                            <span class="icon"><img src="/supercars/assets/images/strategy-icon.svg" width="60"
                                                    height="60" alt="Our Strategy"></span>
                            <h3 class="h3-title">Our Strategy</h3>
                            <p>On the other hand, we denounce with righteous indignation and dislike men who are so
                                beguiled.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Vision & Mission End -->

    <!-- Rental Deals Start -->
    <section class="main-rental-deal">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="rental-deal-img wow right-animation" data-wow-duration="0.8s" data-wow-delay="0.2s">
                        <img src="/supercars/assets/images/rental-deals-img.png" width="987" height="595"
                             alt="Rental Deals">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="rental-deal-content wow left-animation" data-wow-duration="0.8s" data-wow-delay="0.2s">
                        <div class="title left">
                            <h2 class="h2-title"><span>Feel The</span> Best Experience With Our
                                <span>Rental Deals</span></h2>
                            <span class="title-line"></span>
                        </div>
                        <div class="rental-deal-list">
                            <div class="rental-deal-box">
                                <span class="icon"><img src="/supercars/assets/images/customer-satisfaction-icon.svg"
                                                        width="50" height="35" alt="Customer Satisfaction"></span>
                                <h3 class="h3-title">Customer Satisfaction</h3>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                    voluptatum.</p>
                            </div>
                            <div class="rental-deal-box">
                                <span class="icon"><img src="/supercars/assets/images/faster-bookngs-icon.svg"
                                                        width="40" height="40" alt="Faster Bookings"></span>
                                <h3 class="h3-title">Faster Bookings</h3>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                    voluptatum.</p>
                            </div>
                            <div class="rental-deal-box">
                                <span class="icon"><img src="/supercars/assets/images/pickup-location-icon.svg"
                                                        width="36" height="45" alt="Many Pickup Location"></span>
                                <h3 class="h3-title">Many Pickup Location</h3>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                    voluptatum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Rental Deals End -->

    <!-- Our Best Drivers Start -->
    <section class="main-drivers">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title wow fadeup-animation" data-wow-duration="0.8s" data-wow-delay="0.2s">
                        <h2 class="h2-title">Our Best <span>Drivers</span></h2>
                        <span class="title-line"></span>
                    </div>
                    <div class="main-driver-slider wow fadeIn" data-wow-duration="0.8s" data-wow-delay="0.3s">
                        <div class="driver-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="driver-box">
                                        <div class="driver-img">
                                            <img src="/supercars/assets/images/driver1.png" width="432" height="500"
                                                 alt="Driver">
                                        </div>
                                        <div class="driver-name">
                                            <h3 class="h3-title">John Doe</h3>
                                        </div>
                                        <div class="driver-icon">
                                            <a href="javascript:void(0);" title="Follow on Facebook"><i
                                                    class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                            <a href="javascript:void(0);" title="Follow on Instagram"><i
                                                    class="fab fa-instagram" aria-hidden="true"></i></a>
                                            <a href="javascript:void(0);" title="Follow on Twitter"><i
                                                    class="fab fa-twitter" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="driver-box">
                                        <div class="driver-img">
                                            <img src="/supercars/assets/images/driver2.png" width="432" height="500"
                                                 alt="Driver">
                                        </div>
                                        <div class="driver-name">
                                            <h3 class="h3-title">Naira Smith</h3>
                                        </div>
                                        <div class="driver-icon">
                                            <a href="javascript:void(0);" title="Follow on Facebook"><i
                                                    class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                            <a href="javascript:void(0);" title="Follow on Instagram"><i
                                                    class="fab fa-instagram" aria-hidden="true"></i></a>
                                            <a href="javascript:void(0);" title="Follow on Twitter"><i
                                                    class="fab fa-twitter" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="driver-box">
                                        <div class="driver-img">
                                            <img src="/supercars/assets/images/driver3.png" width="432" height="500"
                                                 alt="Driver">
                                        </div>
                                        <div class="driver-name">
                                            <h3 class="h3-title">Tony Adarson</h3>
                                        </div>
                                        <div class="driver-icon">
                                            <a href="javascript:void(0);" title="Follow on Facebook"><i
                                                    class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                            <a href="javascript:void(0);" title="Follow on Instagram"><i
                                                    class="fab fa-instagram" aria-hidden="true"></i></a>
                                            <a href="javascript:void(0);" title="Follow on Twitter"><i
                                                    class="fab fa-twitter" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="driver-box">
                                        <div class="driver-img">
                                            <img src="/supercars/assets/images/driver4.png" width="432" height="500"
                                                 alt="Driver">
                                        </div>
                                        <div class="driver-name">
                                            <h3 class="h3-title">Jully Stark</h3>
                                        </div>
                                        <div class="driver-icon">
                                            <a href="javascript:void(0);" title="Follow on Facebook"><i
                                                    class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                            <a href="javascript:void(0);" title="Follow on Instagram"><i
                                                    class="fab fa-instagram" aria-hidden="true"></i></a>
                                            <a href="javascript:void(0);" title="Follow on Twitter"><i
                                                    class="fab fa-twitter" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Best Drivers End -->

    <section class="main-reviews bg">
        <!-- Reviews Start -->
        <div class="container">
            <div class="row" id="reviews">
                <div class="col-lg-6">
                    <div class="reviews-content wow fadeup-animation" data-wow-duration="0.8s" data-wow-delay="0.2s">
                        <div class="title left">
                            <h2 class="h2-title">What <span>Our Customers</span> Say's</h2>
                            <span class="title-line"></span>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                                occaecati.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="main-review-slider wow fadeIn" data-wow-duration="0.8s" data-wow-delay="0.3s">
                        <div class="reviews-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="review-box">
                                        <div class="review-img back-img"
                                             style="background-image: url('/supercars/assets/images/review-img1.jpg');"></div>
                                        <div class="quote">
                                            <img src="/supercars/assets/images/quote-icon.svg" width="42" height="30"
                                                 alt="Quote">
                                        </div>
                                        <h5>John Doe</h5>
                                        <div class="review-text">
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                                                illo inventore veritatis et quasi architect.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="review-box">
                                        <div class="review-img back-img"
                                             style="background-image: url('/supercars/assets/images/review-img2.jpg');"></div>
                                        <div class="quote">
                                            <img src="/supercars/assets/images/quote-icon.svg" width="42" height="30"
                                                 alt="Quote">
                                        </div>
                                        <h5>Naira Smith</h5>
                                        <div class="review-text">
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                                                illo inventore veritatis et quasi architect.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="review-box">
                                        <div class="review-img back-img"
                                             style="background-image: url('/supercars/assets/images/review-img3.jpg');"></div>
                                        <div class="quote">
                                            <img src="/supercars/assets/images/quote-icon.svg" width="42" height="30"
                                                 alt="Quote">
                                        </div>
                                        <h5>Tony Adarson</h5>
                                        <div class="review-text">
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                                                illo inventore veritatis et quasi architect.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-arrow swiper-button-prev"><img
                                    src="/supercars/assets/images/arrow-icon.svg" width="30" height="30" alt="Arrow">
                            </div>
                            <div class="swiper-arrow swiper-button-next"><img
                                    src="/supercars/assets/images/arrow-icon.svg" width="30" height="30" alt="Arrow">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Reviews End -->

        <!-- NewsLetter Start -->
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-10 m-auto">
                    <div class="newsletter-box wow fadeup-animation" data-wow-duration="0.8s" data-wow-delay="0.2s">
                        <div class="title">
                            <h2 class="h2-title">Subscribe Our <span>Newsletter</span></h2>
                            <span class="title-line"></span>
                        </div>
                        <div class="newsletter-form">
                            <form>
                                <div class="form-box">
                                    <div class="form-input-box">
                                        <img src="/supercars/assets/images/form-mail-icon.svg" width="21" height="14"
                                             alt="Mail">
                                        <input type="email" class="form-input" placeholder="Enter Your Email Address..."
                                               required="">
                                        <button type="submit" class="sec-btn"><span>Subscribe</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- NewsLetter End -->
    </section>

    <!-- Download App Start -->
    <section class="main-download-app">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="download-app-img wow right-animation" data-wow-duration="0.8s" data-wow-delay="0.2s">
                        <img src="/supercars/assets/images/download-app-img.png" width="684" height="600"
                             alt="Download App">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="download-app-content wow left-animation" data-wow-duration="0.8s" data-wow-delay="0.2s">
                        <div class="title left">
                            <h2 class="h2-title">Download The <span>Free SuperCars</span> App</h2>
                            <span class="title-line"></span>
                        </div>
                        <div class="download-app-text">
                            <p>Make a booking, unlock your car, and end your reservation all from our app.</p>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered alteration in some form, by injected humour, or randomised words which don't
                                look even slightly believable.</p>
                        </div>
                        <div class="download-app-btn">
                            <a href="javascript:void(0);" title="Dowbload From Google Play Store">
                                <img src="/supercars/assets/images/google-play-store.svg" width="200" height="60"
                                     alt="Google Play Store">
                            </a>
                            <a href="javascript:void(0);" title="Dowbload From App Store">
                                <img src="/supercars/assets/images/apple-store.svg" width="200" height="60"
                                     alt="App Store">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Download App End -->

    <!-- Footer Start -->
    <footer class="site-footer" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-info wow right-animation" data-wow-duration="0.8s" data-wow-delay="0.2s">
                        <div class="footer-logo">
                            <a href="index.html" title="SuperCars">
                                <img src="/supercars/assets/images/logo-white.png" width="188" height="60"
                                     alt="SuperCars">
                            </a>
                        </div>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. normal distribution of letters, as opposed to using
                            'Content here.</p>
                        <div class="social-icon">
                            <a href="javascript:void(0);" title="Follow on Facebook"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a href="javascript:void(0);" title="Follow on Instagram"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="javascript:void(0);" title="Follow on Twitter"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="quick-links wow fadeup-animation" data-wow-duration="0.8s" data-wow-delay="0.2s">
                        <h3 class="h3-title">Quick Links</h3>
                        <ul>
                            <li><a href="index.html" title="Home">Home</a></li>
                            <li><a href="about-us.html" title="About Us">About Us</a></li>
                            <li><a href="cars.html" title="Cars">Cars</a></li>
                            <li><a href="contact.html" title="Contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="quick-links wow fadeup-animation" data-wow-duration="0.8s" data-wow-delay="0.2s">
                        <h3 class="h3-title">Services</h3>
                        <ul>
                            <li><a href="cars.html" title="Wedding Rides">Wedding Rides</a></li>
                            <li><a href="cars.html" title="Corporate Rides">Corporate Rides</a></li>
                            <li><a href="cars.html" title="Executive Rides">Executive Rides</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer-contact wow left-animation" data-wow-duration="0.8s" data-wow-delay="0.2s">
                        <h3 class="h3-title">Contact Us</h3>
                        <div class="contact-link">
                            <div class="contact-link-box">
                                <a href="tel:1234567890" title="Call on +91 1234567890">
                                    <span class="icon"><i class="fas fa-phone-alt"></i></span>
                                    Phone Number
                                    <span class="text">+91 123-4567-890</span>
                                </a>
                            </div>
                            <div class="contact-link-box">
                                <a href="mailto:email@example.com" title="Mail on email@example.com">
                                    <span class="icon"><i class="fas fa-envelope"></i></span>
                                    Email Address
                                    <span class="text">email@example.com</span>
                                </a>
                            </div>
                            <div class="contact-link-box">
                                <a href="javascript:void(0);"
                                   title="2746 Victoriya Park Avenue, Toronto, Ontario M2J 4A8, New York">
                                    <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
                                    <span class="text">2746 Victoriya Park Avenue, Toronto, Ontario M2J 4A8, New York</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-lg-1 order-2">
                    <div class="copy-right">
                        <p>Copyright © 2021 <a href="https://geekcodelab.com/" title="GeekCodeLab" target="_blank">GeekCodeLab</a>.
                            All Rights Reserved.</p>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-2 order-1">
                    <div class="footer-bottom-link">
                        <ul>
                            <li><a href="javascript:void(0);" title="Privacy Policy">Privacy Policy</a></li>
                            <li><a href="javascript:void(0);" title="Terms Of Use">Terms Of Use</a></li>
                            <li><a href="javascript:void(0);" title="Cookie Policy">Cookie Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Scroll To Top Start -->
    <div class="scroll-to-top">
        <span><img src="/supercars/assets/images/scroll-top-car.png" alt="car"></span>
    </div>
    <!-- Scroll To Top End -->

    <!-- Login Popup Start -->
    <div class="modal fade common-popup" id="login">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="popup-title">
                    <h3 class="h3-title">Login</h3>
                    <button type="button" class="close close-popup" data-bs-dismiss="modal" aria-label="Close"><i
                            class="fas fa-times"></i></button>
                </div>
                <div class="common-popup-overflow">
                    <div class="common-popup-text">
                        <div class="contact-form">
                            <form>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-box">
                                            <input type="email" class="form-input" placeholder="Enter Email Address"
                                                   required="">
                                        </div>
                                        <div class="form-box">
                                            <input type="password" class="form-input" placeholder="Enter Paaword"
                                                   required="">
                                        </div>
                                        <div class="form-box checkbox">
                                            <label for="remember_pass"><input type="checkbox" id="remember_pass">Remember
                                                Password</label>
                                        </div>
                                        <div class="form-box">
                                            <button type="submit" class="sec-btn"><span>Login</span></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="contact-form-text">
                                <p>Not have an account? <a href="javascript:void(0);" title="Singup">Singup</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login Popup End -->

    <!-- Search Popup Start -->
    <div class="modal fade common-popup" id="search_car">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="popup-title">
                    <h3 class="h3-title">Search Car</h3>
                    <button type="button" class="close close-popup" data-bs-dismiss="modal" aria-label="Close"><i
                            class="fas fa-times"></i></button>
                </div>
                <div class="common-popup-overflow">
                    <div class="common-popup-text">
                        <div class="search-popup-form">
                            <form>
                                <div class="search-car-form">
                                    <div class="car-form-box">
                                        <div class="form-box">
                                            <label>Pick Up Location</label>
                                            <div class="form-input-box">
                                                <img src="/supercars/assets/images/form-map-icon.svg" width="12"
                                                     height="14" alt="Map">
                                                <input type="text" class="form-input" placeholder="Kingstone Upon Hull"
                                                       required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="car-form-box">
                                        <div class="form-box">
                                            <label>Return Location</label>
                                            <div class="form-input-box">
                                                <img src="/supercars/assets/images/form-map-icon.svg" width="12"
                                                     height="14" alt="Map">
                                                <input type="text" class="form-input" placeholder="Heathrow Airport"
                                                       required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="car-form-box">
                                        <div class="form-box">
                                            <label>Pick Up Date</label>
                                            <div class="form-input-box input-group date">
                                                <img src="/supercars/assets/images/form-calendar-icon.svg" width="14"
                                                     height="14" alt="Calendar">
                                                <span class="input-group-addon"></span>
                                                <input type="text" class="form-input">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="car-form-box">
                                        <div class="form-box">
                                            <label>Return Date</label>
                                            <div class="form-input-box input-group date">
                                                <img src="/supercars/assets/images/form-calendar-icon.svg" width="14"
                                                     height="14" alt="Calendar">
                                                <span class="input-group-addon"></span>
                                                <input type="text" class="form-input">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="car-form-box">
                                        <div class="form-box">
                                            <button type="submit" class="sec-btn"><span>Search Car</span></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Popup End -->

</div>

<!-- Jquery JS Link -->
<script src="/supercars/assets/js/jquery.min.js"></script>

<!-- Bootstrap JS Link -->
<script src="/supercars/assets/js/bootstrap.min.js"></script>
<script src="/supercars/assets/js/popper.min.js"></script>

<!-- Datepicker JS Link -->
<script src="/supercars/assets/js/bootstrap-datepicker.min.js"></script>

<!-- Swiper Slider JS Link -->
<script src="/supercars/assets/js/swiper-bundle.min.js"></script>

<!-- Fancybox JS Link -->
<script src="/supercars/assets/js/jquery.fancybox.min.js"></script>

<!-- Font Awesome JS Link -->
<script src="/supercars/assets/js/font-awesome.min.js"></script>

<!-- Wow Animation JS Link -->
<script src="/supercars/assets/js/wow.min.js"></script>

<!-- Custom JS Link -->
<script src="/supercars/assets/js/custom.js"></script>

</body>
</html>