<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change User</title>
</head>
<body>
<form th:action="@{'/admin/user/change/' + ${id}}" method="post" enctype="multipart/form-data">
    <label>
        <input type="text" name="name" th:value="${user.getName()}"><br>
        <input type="text" name="surname" th:value="${user.getSurname()}"><br>
        <input type="text" name="surname" th:value="${user.getSurname()}"><br>
        <input type="email" name="email" th:value="${user.getEmail()}"><br>
        <input type="password" name="password" placeholder="${INPUT PASSWORD}"><br>
        <input type="number" name="age" th:value="${user.getAge()}"><br>
        <input type="text" name="phoneNumber" th:value="${user.getPhoneNumber()}"><br>
        <select th:value="${user.getDriverLicense()}">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C1">C1</option>
            <option value="D">D</option>
            <option value="D1">D1</option>
            <option value="DE">DE</option>
        </select>
        <select th:value="${user.getRole()}">
            <option value="CLIENT">Client</option>
            <option value="DEALER">Dealer</option>
            <option value="DRIVER">Driver</option>
            <option value="ADMIN">Admin</option>
        </select>
        <input type="number" name="price" th:value="${user.getPrice()}">
        <input type="file" name="userImage" th:value="${user.getPicUrl()}"/>
        <input type="submit">
    </label>
</form>
</body>
</html>