<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dealers</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>name</th>
        <th>surname</th>
        <th>email</th>
        <th>age</th>
        <th>role</th>
        <th>status</th>
    </tr>
    <tr th:each="dealer : ${allDealers}">
        <td th:text="${dealer.getName()}"></td>
        <td th:text="${dealer.getSurname()}">surname</td>
        <td th:text="${dealer.getEmail()}">email</td>
        <td th:text="${dealer.getAge()}">age</td>
        <td th:text="${dealer.getRole()}">role</td>
        <td th:text="${dealer.getStatus()}">status</td>
    </tr>
</table>
</body>
</html>