<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>my orders</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>start</th>
        <th>end</th>
        <th>car</th>
        <th>client</th>
    </tr>
    <tr th:each="order : ${orders}">
        <td th:text="${order.getOrderStart()}"></td>
        <td th:text="${order.getOrderEnd()}"></td>
        <td th:text="${order.car.getName()}"></td>
        <td th:text="${order.client.getName()}"></td>
    </tr>
</table>
</body>
</html>